/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

/*CSS Variables*/
:root {
    --primary-font:"Inter",sans-serif;
    --secondary-font: "Macondo", sans-serif;
    --primary-color:#3a2620;/* dark brown*/
    --secondary-color:#aa9581;/*light brown*/
    --highlight-color:#416a8e; /*blue*/
    --highlight-color-light:#7a9fc2;/*light blue*/
}
/*global styles */
body {
    font-family: var(--primary-font);
}
h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    
}
h1, 
h2 {
text-transform: uppercase;
}
h2 {
    margin-bottom: 2rem;
}
.sub-heading-color{
    color: var(--highlight-color);
}
.section{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*navbar*/
#navbar {
    background-color: var(--primary-color);
    
}
#navbar .logo {
    width: 30px;
}
/*header*/

#header .lead {
    font-family:var(--secondary-font);
}

/*services*/
#services .card-footer {
    font-weight:bold;
    color:var(--highlight-color);
    background-color:transparent;
}

#services .card{
    margin-bottom:  1.5rem; 
}



/*footer*/
#footer{
    background-color: var(--primary-color);
}
/*grid visualisation
.container, 
.row {
    border:2px solid black;
}
.col-12{
    border:2px solid black;
    background-color:lightgray;
}*/




/*media for tablets*/
@media screen and (min-width: 768px){
    #services .card-body {
        /*make cards same height for consistency */
        min-height:191px;
    } 
}
/*large devices (small laptops, 992px and up) */
@media screen and (min-width: 992px) {
    #services .card-body {
        min-height:auto;
    }
}
/*xl devices*/
@media screen and (min-width: 1200px) {
     /*make cards same height for consistency */
     #services .card-body {
        min-height: 220px;
    }
}

/*xxl devices*/
@media screen and (min-width: 1400px) {
     /*make cards same height for consistency */
 #services .card-body {
        min-height:195px;
    }
}
